page-fixed {
	#idAvatar{
    	font-size: 40px; //Preferred size here	
    }
    #idAdd{
    	font-size: 30px; //Preferred size here	
    }
    #idSmall{
    	font-size: 10px; //Preferred size here	
    }
}
